@{
    ViewData["Title"] = "Manufacturers";
}

@model IEnumerable<HonestCars.DataModel.Manufacturer>

<div class="text-center">
    <h1 class="display-4">Manufacturers</h1>
</div>
    <ul>
        @foreach(var mfr in Model) {
            <li><a asp-controller="Manufacturers" asp-action="Detail" asp-route-id="@mfr.ManufacturerID">
                @mfr.Name
                </a>
            </li>
        }
    </ul>
    <a asp-controller="Manufacturers" asp-action="Create">add a new manufacturer</a>

